.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* ajuste para garantir que o conteúdo ocupe a mesma altura */
  }
  
  .btn {
    align-self: flex-start; /* ou flex-end para alinhamento à direita, ou center para centralizado */
    margin-top: auto;
  }
