/* Estilos específicos para a página do Projeto Generative IA */

/* Imagem do Projeto */
.img-responsive {
    border: 2px solid #00ff00; /* Borda neon */
    box-shadow: 0 0 10px #00ff00; /* Sombra neon */
  }
  
  /* Card do Projeto */
  .card-container {
    background-color: #2d2d2d; /* Fundo mais escuro para contraste */
    color: #e0e0e0; /* Cor de texto mais clara */
    border: 1px solid #4d4d4d; /* Borda sutil */
  }
  
  .card-container h1, .card-container h2, .card-container h3 {
    color: #00ff00; /* Títulos em neon */
  }
  
  .card-container strong {
    color: #00ff00; /* Destaque em neon para palavras em negrito */
    font-weight: bold;
  }
  
  .card-container ul {
    list-style: disc inside; /* Marcadores de lista */
    padding-left: 1.5em;
  }
  
  /* Rodapé */
  footer {
    background-color: #000; /* Fundo preto */
  }